<html>
    <head>
        <title>Buy {{ item.id }}</title>
        <script src="https://js.stripe.com/v3/"></script>
 </head>
    <body>
        <h1>{{ item }}</h1>
        <p>{{ item.description }}</p>
        <button id="buy-button">Buy</button>
        <script>
            var stripe = Stripe('{{ stripe_publish_key }}')
            var buyButton = document.getElementById('buy-button');
            buyButton.addEventListener('click', function (){
                fetch('/buy/{{ item.id }}')
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(session) {
                        return stripe.redirectToCheckout({ sessionId: session.stripe_session_id });
                    })
                    .then(function(result) {
                        if (result.error) {
                            alert(result.error.message);
                        }
                    })
            });
        </script>
    </body>
</html>
